*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 
h1{
    margin-bottom:20px;
    
    text-align: center;

}

label{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 5px;

}

.checkbox{
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    margin-top: 20px !important; 
    flex-direction: row !important; 
    width: 100% !important;
    margin-right: auto !important;
    justify-content:flex-start;

    
}
.checkbox input{
    width: 18px !important;
    height: 18px !important;
    margin: 0px !important;
    cursor: pointer;
}

.checkbox label{
    white-space: nowrap;
    font-size: 20px !important;
    font-weight: normal;
    margin: 0 !important;
}

input{
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;

}
    


body{
    background: url(login.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}

.box{
    background-color: rgb(231, 243, 247);
    height: 600px;
    width: 500px;
    padding: 50px;
    
}


    


button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    color:white;
    background-color: rgb(12, 12, 184);
    cursor: pointer;

}



.forget{
    
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    gap: 12px !important;
    font-size: 15px;
    
}

.forget a{
    text-decoration: none;
}
.footer-text{
    margin: 0 !important;
    font-size: 20px !important;
    color: 555 !important;
    text-align: center;
    line-height: 2;
}